{% extends 'matan/base.html' %}
{% block title %}Авторы{% endblock %}
{% block content %}
        {% for author in author_list %}
        <div class="col-md-3 autor-prew">
              <img src="http://placehold.it/205x205" alt="...">
                <h4><a href="{% url 'author_detail' pk=author.id %}">
                {{ author.first_name }} {{ author.last_name }}</a></h4>
                <p class="text-justify">{{ author.biagrafiya|slice:':100' }}
            </p>
        </div>
        {% endfor %}
{% endblock %}