<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% load staticfiles %}
    <link href={% static 'css/bootstrap.min.css' %} rel='stylesheet'>
    <link href={% static 'css/bootstrap.css' %} rel='stylesheet'>
    <link href={% static 'js/bootstrap.min.js' %} rel='stylesheet'>
    <link href={% static 'js/bootstrap.js' %} rel='stylesheet'>
    <link href={% static 'css/style.css' %} rel='stylesheet'>
</head>
<body>

  <div class="collapse navbar-collapse" id="b-menu">
    <ul class="nav navbar-nav navbar-left">
      <li class="active"><a href="{% url 'base' %}"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
      <li><a href="{% url 'categories_list' %}" class="dropdown-toggle" data-toggle="dropdown">Категории </a>
      </li>
      <li><a href="{% url 'theorem_list' %}">Теоремы</a></li>
      <li><a href="{% url 'term_list' %}">Термины</a></li>
      <li><a href="{% url 'author_list' %}">Авторы</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <form class="form-search" action = '/matan/poisk/' method = 'get'>
            <div class="input-append">
                    <input type="text" class="span2 search-query"  name = 'q' placeholder="поиск по сайту">
                    <button type="submit" class="btn">Найти</button>
            </div>
        </form>
    </ul>
  </div>
  <hr>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                {% block content %}
                    {% if theorem_list %}
                        {% for theorem in theorem_list %}
                            <h2><a href="{% url 'theorem_detail' pk=theorem.id %}">{{ theorem.title }}</a></h2>
                            <p class="text-justify">{{ theorem.substantiation|slice:':500'}}
                                {% if theorem.substantiation|length >= 500 %}
                                <a href="{% url 'theorem_detail' pk=theorem.id %}">Читать дальше...</a>
                                {% endif %}
                            </p>
                            <h4>Автор:
                                {% for author in theorem.author.all %}
                                        <a href="{% url 'author_detail' pk=author.id %}">{{ author }}</a>
                                        {% if not forloop.last %}, {% endif %}

                                {% endfor %}
                            </h4>
                            <h4>Дата публикации:</h4>
                            <hr>
                         {% endfor %}
                        {% endif %}
					{% endblock %}

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</body>
</html>