<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
    {% load staticfiles %}
    <link href={% static 'css/custom.css' %} rel='stylesheet'>
    <link href={% static 'css/bootstrap.min.css' %} rel='stylesheet'>
    <link href={% static 'css/style.css' %} rel='stylesheet'>
</head>
<body>

<!-- {#  <div class="collapse navbar-collapse" id="b-menu">#}
{#    <ul class="nav navbar-nav navbar-left">#}
{#      <li class="active"><a href="{% url 'base' %}"><span class="glyphicon glyphicon-home"></span> Главная</a></li>#}
{#      <li><a href="{% url 'categories_list' %}" class="dropdown-toggle" data-toggle="dropdown">Категории </a>#}
{#      </li>#}
{#      <li><a href="{% url 'theorem_list' %}">Теоремы</a></li>#}
{#      <li><a href="{% url 'term_list' %}">Термины</a></li>#}
{#      <li><a href="{% url 'author_list' %}">Авторы</a></li>#}
{#    </ul>#}
{#    <ul class="nav navbar-nav navbar-right">#}
{#        <form class="form-search" action = '/matan/poisk/' method = 'get'>#}
{#            <div class="input-append">#}
{#                    <input type="text" class="span2 search-query"  name = 'q' placeholder="поиск по сайту">#}
{#                    <button type="submit" class="btn">Найти</button>#}
{#            </div>#}
{#        </form>#}
{#    </ul>#}
{#  </div>#} -->

                                                {#navigation bar#}
    <div class="container_17">
		<div class="grid_15 prefix_1 suffix_1">
			<nav role="navigation" id="main-nav">
				<ul id="menu-main-nav" class="menu">
                    <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{% url 'base' %}">Home<span>News line &amp; latest posts</span></a></li>
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{% url 'theorem_list' %}">Theoremas<span>All about math theoremas</span></a></li>
                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{% url 'term_list' %}">Therms<span>Frequently used terms</span></a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="{% url 'author_list' %}">Autors<span>Byography, works, followers</span></a></li>
                    <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="#">Forum<span>Our services</span></a></li>
                    </ul>
            </nav>
            <nav role="navigation" id="top-nav">
                <ul id="menu-top-nav" class="menu">
                    <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
                        <a href="{% url 'categories_list' %}">categories</a></li>
                    <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
                        <a href="#">alphabet</a></li>
                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                        <a href="{% url 'search' %}" data-toggle="modal" data-target="#mySearch">search</a></li>
                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                        <a href="#">our university</a></li>
                </ul>
            </nav>
		</div>
		<div class="clear"></div>
	</div>


                                                    {#main bar#}
    <div class="container main">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% block content %}
                    {% if base %}
                        {% for theorem in base %}
                            <h2><a href="{% url 'theorem_detail' pk=theorem.id %}">{{ theorem.title }}</a></h2>
                            <p class="text-justify">{{ theorem.substantiation|slice:':300'}}
                                {% if theorem.substantiation|length >= 300 %}
                                <a href="{% url 'theorem_detail' pk=theorem.id %}">Читать дальше...</a>
                                {% endif %}
                            </p>
                            <h6>autor:
                                {% for author in theorem.author.all %}
                                        <a href="{% url 'author_detail' pk=author.id %}">{{ author }}</a>
                                        {% if not forloop.last %}, {% endif %}

                                {% endfor %}
                            </h6>
                            <h6>date publication:
                                {{ theorem.date_pub }}
                            </h6>
                            <hr>
                         {% endfor %}
                        {% endif %}
					{% endblock %}
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>

                                                {# Modal Search #}

<div class="modal fade" id="mySearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header"> -->
                    <input id="search-input" type="text" placeholder='search here'>
            <!-- </div> -->
        </div>
    </div>
</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>