{% extends 'matan/base.html' %}
{% block title %}Теоремы{% endblock %}
{% block content %}
    {% if theorem_list %}
        {% for theorem in theorem_list %}
            <h2><a href = "{% url 'theorem_detail'  pk=theorem.id %}">{{ theorem.title }}</a></h2>
            <p class="text-justify">{{ theorem.substantiation|slice:':200'}}
                {% if theorem.substantiation|length >= 200 %}
                    <a href="{% url 'theorem_detail' pk=theorem.id %}">Далее...</a>
                {% endif %}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
